@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@300&display=swap');
:root
{
    --main-color:#0aad0a88;
    --light-color:#f0f3f2;
    --shadow: rgba(145,158,171,.2) 0px 2px 4px -1px,rgba(145,158,171,.14) 0px 4px 5px 0px,rgba(145,158,171,.12) 0px 1px 10px 0px;
    --font-family:'Encode Sans Expanded', sans-serif;
    --rating-color:#ffc908;
}


.row {
@apply flex flex-wrap  justify-center items-center px-4 ;
}

.btn {
@apply rounded-lg bg-green-600 text-white px-4 py-2 w-full
}




.category-img{
    width:100% !important;
    height:200px !important;
    }
    
    .mainImg{
    height:400px;
    }
    
    .secondImg{
    height:200px;
    }
    
    body{
        font-family: var(--font-family) !important;
        overflow-x: hidden !important;
    }
    .rating-color
    {
        color: var(--rating-color);
    }
    .cursor-pointer
    {
        cursor: pointer;
    }
    a , a:hover{
        color: black;
        text-decoration: none;
    }
    .product:hover
    {
        box-shadow: var(--shadow);
        border: solid 1px var(--main-color);
    }
    .product .btn 
    {
        transition: transform 1s , opacity 1s;
        transform: translateY(100%);
        opacity: 0;
    }
    .product:hover .btn 
    {
        opacity: 1;
        transform: translateY(0%);
    
    }
    .font-sm
    {
        font-size: 14px;
    }
    .text-main
    {
        color: var(--main-color);
    }
    .bg-main
    {
        background-color: var(--main-color) !important;
    }
    .bg-main-light 
    {
        background-color: var(--light-color) !important;
    }


    /* categories */

.categoryy {
    transition: all 0.5s ease;
    cursor: pointer;
}
.categoryy:hover {
    transform: scale(1.1);
}


.not-found {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 82.9vh;
    font-family: 'Arial', sans-serif;
}

.not-found h1 {
    font-size: 8rem;
    margin: 0;
    color: #e63946;
}

.not-found p {
    font-size: 1.5rem;
    margin: 10px 0 20px;
}

.not-found .home-link {
    font-size: 1rem;
    padding: 10px 20px;
    background-color: #16A34A; 
    color: #fff; 
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.not-found .home-link:hover {
    background-color: #1d3557;
}